[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LPBkg"]
	path = LPBkg
	url = https://github.com/cran/LPBkg
[submodule "TOHM"]
	path = TOHM
	url = https://github.com/cran/TOHM
